.card-wrapper {
  margin: 130px auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #d7e3fc !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}
